body {
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: teal;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    color: royalblue;
}

.texto {
    font-size: 20px;
    color: steelblue;
}
